.slide-container {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 390px;

    flex-shrink: 0;
    padding-left: 38px;
    padding-right: 11px;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-direction: column;
}

.slide-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.slide-content {
    word-wrap: break-word;
    white-space: normal;
    padding-left: 4px;
    max-width: 90%;
}

.slide-title {
    word-wrap: break-word;
    white-space: normal;
    max-width: 90%;
}