.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    color: var(--neutral-500, #6B7A8C);
}
.search-input-container {
    display: flex;
    height: 54px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--neutral-50, #F6F7F9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-input {
    background: var(--neutral-50, #F6F7F9);
}
.search-input:focus {
    outline: none;
}

.disabled {
    opacity: 0.5;
}

.error {
    border-radius: 6px;
    border: 1px solid var(--negative-500, #F9403A);
    background: var(--neutral-50, #F6F7F9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.errorHelperText {
    color: var(--negative-500, #F9403A);
}