.BodyBold-b1 {
    color: var(--primary-500, #30977C);
    text-align: center;
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}