@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


.headerMediumH3 {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 44.8px */
    letter-spacing: -0.28px;
}
.headerMediumH4 {
    font-family: Roboto, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.28px;
}

.BodyBoldB1 {

    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
.headerSemiBoldH6 {

    font-family: Roboto, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 27.5px */
    letter-spacing: -0.22px;
}

.bodySemiBold {

    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.captionRegularC1 {
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}


.headerRegularH3 {
    font-family: Roboto, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 44.8px */
    letter-spacing: -0.28px;
}
.bodyRegularB1 {

    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.bodyLightB1 {

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
}