@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


.captionMedium-b1 {
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 22.4px */
}
.headerRegularH6 {
    font-family: Roboto, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 27.5px */
    letter-spacing: -0.22px;
}

.headerRegularH5 {
    font-family: Roboto, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: -0.24px;
}
.food-name {
    color: #1D1B20;
}
.headerMediumH3 {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 44.8px */
    letter-spacing: -0.28px;
}
.headerMediumH4 {
    font-family: Roboto, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.28px;
}

.BodyBoldB1 {

    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
.headerSemiBoldH6 {

    font-family: Roboto, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 27.5px */
    letter-spacing: -0.22px;
}

.bodySemiBold {

    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.captionRegularC1 {
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.4px;
}


.headerRegularH3 {
    font-family: Roboto, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 44.8px */
    letter-spacing: -0.28px;
}
.bodyRegularB1 {

    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.bodyLightB1 {
    color: var(--black, #1D1B20);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
}

.bodyMediumB1 {
    text-align: right;
    /* Body/medium-b1 */
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
}