:root {
    --primary-500: #30977C;
    --secondary-500: #0C8CE9;
    --white: #FFF;
    --primary-100: #D9F2E7;
    --primary-50: #EFFAF6;
    --neutral-500: #6B7A8C;
    --neutral-50: #F6F7F9;
    --negative-500: #F9403A;
    --black : #000;
    --negative-700: #4B5564;
    --primary-400: rgba(83, 180, 152, 0.80);
}