.food-card {
    display: flex;
    width: 400px;
    height: 81px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    color: var(--negative-700);

    gap: 24px;


}

.food-price {
    margin-top: 3px;
}

.food-name {
    color: #1D1B20;
}


.food-image {
    border-radius: 90%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}


.food-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-details {
    word-wrap: break-word;
    white-space: normal;
    width: 170px;
}


.add-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;

}